{% extends "blog/base.html" %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}

<section class="s-content site-page">
        <div class="row">
            <div class="column large-12">

                <section>
                  <h2>Register ...</h2>
                  <div class="s-content__primary">
                    <form class="s-content__form" method="POST" enctype='multipart/form-data'>
                      <fieldset>
                        {% csrf_token %}  <!-- cross site resquest form token -->
                        {{ form.as_p }}   <!-- every single element in form is wrapped by <p> </p> --->
                      </fieldset>
                      <button class="btn btn--primary">Post</button>
                    </form>
                  </div>
                </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->
{% endblock %}